@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.testimonialreviews .carousel__prev svg {
  @apply text-black;
}

.loop-slider .slick-dots li {
  margin: 0px !important;
  width: 14px !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .xy-center {
    @apply flex items-center justify-center;
  }
  .top__menu_button {
    @apply flex w-max cursor-pointer items-center rounded-md bg-b2 px-4 py-[10px] text-white;
  }
  .top__menu_item {
    @apply mt-1 flex w-full cursor-pointer rounded-md px-2 py-2 text-xs font-normal first:mt-0 hover:bg-b5;
  }
  .nav____item {
    @apply flex cursor-pointer items-center text-xs font-normal text-white/80 hover:text-b6;
  }
  .small___nav__item {
    @apply flex items-center rounded-md bg-b2 px-3 py-2 text-white;
  }
  .small___nav__subitem {
    @apply rounded-lg border-l-2 border-white bg-b2 px-5 py-2 text-white;
  }
}
.bg-blue-gradient {
  background: linear-gradient(180.58deg, rgba(0, 0, 0, 0.4) 0.38%, rgba(0, 0, 0, 0) 187.96%), rgba(102, 206, 245, 0.6);
}
.maincontainer {
  @apply mx-auto w-[93%] sm:w-[90%] 2xl:w-[85%] 3xl:max-w-1680px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

#tour {
  background-image: url('/map.webp');
  backdrop-filter: blur(2.6px);
  -webkit-backdrop-filter: blur(2.6px);
}

/* #news {
  background-image: url('/new.webp');
  background-repeat: no-repeat;
  background-size: cover;
} */

/* How It Work Slider */
.howitworkslider {
  @apply pb-5 xl:pb-0 [&>div>div>div>div]:lg:h-full [&>div>div>div]:lg:!w-full [&>div>div]:gap-4 [&>div>div]:lg:!translate-x-0 [&>div>div]:lg:!grid [&>div>div]:lg:!w-full [&>div>div]:lg:!grid-cols-3 [&>div>div]:lg:before:hidden [&>div>div]:2xl:!grid-cols-4;
}

/* ========== */

#map {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.6px);
  -webkit-backdrop-filter: blur(2.6px);
  border: 1px solid rgba(255, 255, 255, 0.21);
}

#product_viewer {
  max-width: 50%;
  margin: 200px auto;
}

#product_viewer img {
  display: block;
  width: 100%;
}

.parent-container > div > div > div {
  /* Set opacity to 1 for child <div> elements */
  opacity: 1 !important;
  height: 250px !important;
  /* background-color: red; */
}

.ratingproductslider .slideInner___2mfX9 {
  padding-right: 10px;
}

/* Review Slider */
.reviewslider-wrapper .slick-dots {
  bottom: -50px;
}

.reviewslider-wrapper .slick-dots li {
  margin: 0;
}

.reviewslider-wrapper .slick-dots li button:before {
  font-size: 8px;
  color: #071822;
}

.reviewslider-wrapper .slick-dots li:hover button:before {
  color: #22a6ab;
}

.reviewslider-wrapper .slick-dots li.slick-active button:before {
  color: #22a6ab;
}

.text-line-camp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.rdp {
  margin: 0 !important;
}

.rdp-month.rdp-caption_start.rdp-caption_end {
  background-color: #e8f5f5;
  width: 100%;
  border-radius: 6px;
  padding: 10px;
}

.rdp .rdp-table .rdp-cell .rdp-button_reset.rdp-button.rdp-day {
  font-size: 16px;
  color: #212121;
}

.rdp .rdp-table {
  max-width: 100% !important;
  width: 100%;
}

.rdp .rdp-table .rdp-cell .rdp-button_reset.rdp-button.rdp-day.rdp-day_selected {
  color: white;
  background-color: #22a6ab;
  font-weight: 400;
  width: 32px;
  height: 32px;
}

/* Pagination */

.pagination-container {
  @apply flex items-center justify-center gap-6;
}

.pagination-container .pagination-item {
  @apply text-sm text-b25;
}

.pagination-container .pagination-item.selected {
  @apply font-bold text-b3;
}

.pagination-container .pagination-item.disabled {
  pointer-events: none;
}

.content {
  /* Your existing styles for content */
  transition: opacity 0.2s ease-out;
}

.fade-out {
  opacity: 0;
}

.text_between_line {
  font-size: 14px;
  overflow: hidden;
  text-align: center;
}

.text_between_line:before,
.text_between_line:after {
  background-color: #d9d9d9;
  content: '';
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.text_between_line:before {
  right: 0.5em;
  margin-left: -50%;
}

.text_between_line:after {
  left: 0.5em;
  margin-right: -50%;
}

/* Modal */
.backdrop-blur-sm {
  background-color: rgba(0, 0, 0, 0.4) !important;
  backdrop-filter: initial;
}

/* === */
/* checklsit Scroll Bar */
#checklists::-webkit-scrollbar-track {
  border-radius: 16px;
  background-color: white;
}

#checklists::-webkit-scrollbar {
  width: 16px;
  background-color: white;
}

#checklists::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: #d9d9d9;
}

/* Shop Austin */

.shopaustin {
  @apply mx-auto grid grid-cols-1 items-center gap-8 py-10 lg:grid-cols-2 lg:gap-28 lg:py-16 xl:py-20 2xl:gap-[157px] 2xl:py-120px  3xl:grid-cols-[1fr_686px];
}

.shopaustin h2 {
  @apply text-3xl font-extrabold text-white xl:w-[464px] xl:text-[46px] xl:leading-[3rem] 2xl:w-full 2xl:text-[56px] 2xl:leading-[64px] maxmd:text-center;
}
.shopaustin p {
  @apply mb-10 mt-6 text-base leading-6 text-white xl:text-[20px] xl:leading-8 2xl:text-2xl maxmd:text-center;
}

/* ========= */
h1.ce-header {
  @apply text-3xl font-bold;
}

h2.ce-header {
  @apply text-2xl font-semibold;
}

h3.ce-header {
  @apply text-xl font-semibold;
}

h4.ce-header {
  @apply text-lg font-semibold;
}

h5.ce-header {
  @apply text-base font-semibold;
}

h6.ce-header {
  @apply text-base font-semibold;
}

/* testimonials */

.testimonialreviews h2 {
  @apply text-center text-white lg:text-3xl xl:text-4xl;
}
.testimonialreviews .maincard {
  @apply !bg-white;
}
.testimonialreviews .carousel__next,
.testimonialreviews .carousel__prev {
  @apply !bg-[#b2e0e2];
}

.testimonialreviews .carousel__next svg,
.testimonialreviews .carousel__prev svg {
  @apply text-black;
}

.loop-slider .slick-dots li {
  margin: 0px !important;
  width: 14px !important;
}

.button-hover {
  @apply bg-b3 duration-200 hover:bg-b3/90;
}

.label-p-0 label {
  @apply !p-0;
}
.cc-select button {
  @apply border-b3;
}
.cc-select button {
  @apply border-b3;
}
.cc-select button:has(+ label.text-\[11px\]) {
  @apply border-t-transparent text-lg text-black;
}

.cc-select button + label.text-\[11px\] {
  @apply before:border-b3 after:border-b3;
}
.cc-select button + label.text-sm {
  @apply top-4 text-lg text-dark-gray;
}

input.remove-arrow::-webkit-outer-spin-button,
input.remove-arrow::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input.remove-arrow[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}
/* Product Search Bar */
#productSearchBar{
  @apply sticky top-[68px] z-40 lg:top-[136px] lg:z-50 lg:bg-[#14313D] maxlg:shadow-[0px_4px_20px_rgba(0,0,0,0.08)];
}
.mobileSearcBar{
  @apply mx-auto max-w-7xl items-center justify-center gap-4 px-[4%] text-white duration-200 sm:px-[6%] lg:flex lg:w-[90%] lg:px-0 2xl:w-[85%] 3xl:max-w-1680px maxlg:absolute maxlg:inset-x-0 maxlg:top-16 maxlg:w-full maxlg:overflow-hidden;
}
.searchBar-input{
  @apply w-full rounded-lg border border-b3 bg-white px-4 py-3 text-xs text-b18 outline-none placeholder:text-[#979797];
}
.searchBar-model{
  @apply flex h-full items-center justify-center gap-2 whitespace-nowrap rounded-lg border border-[#3F4C54] bg-b2 p-3 text-xs font-semibold lg:p-2 lg:text-sm maxlg:my-4 maxlg:w-full;
}

/* Condition Slider */

.conditionSlider .slick-slide.slick-current .sliderBox{
 @apply !border-2 !border-b3;
}